# Docker Compose - "development" or "production"
COMPOSE_PROFILES=development

# Domain - change for your domain
DOMAIN=localhost

# Database 
MONGO_URL=mongodb://mongodb:27017/catalog

# Storage - for database and photos
DATA_PATH=/home/$USER/<your_folder_here>

# Ports - adapt under your needs
FRONT_PORT=80
FRONT_HTTPS=443
BACKEND_PORT=8000 # update nginx.conf.template if you change this, and re-build!
